/* footer */
.footer {
    background-color: #344955; /* Fondo del footer */
    padding: 20px;
    border-top: 1px solid #dcdcdc;
    font-family: Arial, sans-serif;
    color: #fff; /* Texto en blanco */
}

/* Layout for the content area */
.footer__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
}

/* Styling for the logo section */
.footer__logo {
    display: flex;
    align-items: center;
    margin-bottom: 150px; /* Ajuste de margen para separación vertical */
}

.footer__logo-img {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border: 2px solid #fff; /* Borde blanco para los logos */
}

.footer__title {
    font-size: 1.5em;
    font-weight: bold;
}

/* Styling for each column in the footer */
.footer__column {
    flex: 1;
    margin-bottom: 20px; /* Ajuste de margen para separación vertical */
    min-width: 150px; /* Asegurar un tamaño mínimo para columnas */
}

/* Personalización de la posición de las columnas */
.footer__column--mapa {
    /* Cambie estos valores para ajustar la posición */
    margin-top: 10px; /* Movimiento en el eje Y */
    margin-left: 155px; /* Movimiento en el eje X */
}

.footer__column--utilidades {
    /* Cambie estos valores para ajustar la posición */
    margin-top: 10px; /* Movimiento en el eje Y */
    margin-left: 30px; /* Movimiento en el eje X */
}

.footer__column--desarrollado {
    /* Cambie estos valores para ajustar la posición */
    margin-top: 10px; /* Movimiento en el eje Y */
    margin-left: 50px; /* Movimiento en el eje X */
}

.footer__heading {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer__list {
    list-style: none;
    padding: 0;
}

.footer__list li {
    margin-bottom: 5px;
}

/* Styling for the links */
.footer__link {
    text-decoration: none;
    color: #fff; /* Enlaces en blanco */
}

.footer__link:hover {
    text-decoration: underline;
}


.footer__bottom {
    display: flex; 
    justify-content: center; /* Centrar el contenido */
    align-items: center; 
    border-top: 1px solid #dcdcdc;
    padding-top: 10px;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
}

.footer__copyright {
    margin: 0;
    text-align: center; /* Centrar el texto */
}

.footer__social {
    display: flex; 
    justify-content: right; /* Centrar los iconos */
    margin-left: 10px; /* Ajuste de margen */
}

.footer__social-link {
    margin-left: 10px; /* Espacio entre los iconos */
}

.footer__social-link img {
    width: 35px; /* Tamaño de los iconos */
    height: auto; 
    border: 1px solid #fff;  /* Borde blanco para los iconos de redes sociales */
    transform: translateX(-10px) translateY(-10px);
}