/* Path: registro-usuario.css */

.registration-form {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #1f888e; /* Cambia color marco registro */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* sombra marco registro */
    background-color: #ffffff; /* Cambia el color del fondo del formulario */
}

.registration-form h1 {
    position: relative;
    top: -10px; /* Cambia la posición del título */
    text-align: center;
    margin-bottom: 20px;
}

.registration-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.registration-form .form-row {
    flex: 1 1 48%; /* Cambia el ancho de los campos */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.registration-form label {
    margin-bottom: 5px; /* Cambia el margen entre los campos */
}

.registration-form input,
.registration-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.registration-form button {
    width: 100%;
    padding: 10px;
    background-color: #1f888e; /* cambia color de el boton crear cuenta */
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.registration-form button:hover {
    background-color: #344955; /* Cambia color barra crear cuenta */
}

.registration-form .form-row:nth-child(odd) {
    margin-right: 2%;
}

.registration-form .form-row:nth-child(even) {
    margin-left: 2%;
}

.registration-form .form-row:last-child {
    flex: 1 1 100%;
    margin: 0;
}

.register-wrapper, .login-button {
    margin-left: auto;
}

.register-wrapper a, .login-button {
    padding: 10px 20px;
    background-color: #4AE4C2;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.login-button {
    background-color: #007bff;
}
.register-wrapper {
    position: relative;
}

.register-options {
    display: none;
    position: absolute;
    top: 130%;
    left: 0;
    z-index: 1;
    background-color: #ffffff00;
    padding: 10px;
    border: 1px solid #cccccc00;
    border-top: none;
    width: 100%;
    box-sizing: border-box;
}

/**
 * Cuando el mouse se encuentra sobre el elemento con la clase "register-wrapper",
 * se muestra el elemento con la clase "register-options".
 */
.register-wrapper:hover .register-options {
    display: block;
}

.register-options a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
}
.register-options a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #ffffff; /* Cambia el color del texto botones registro */
}


