/* Estilos del main y secciones */
.hero-section {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    overflow: hidden;
}

.hero-container {
    position: relative;
    display: inline-block; /* Asegura que el contenedor se ajuste al tamaño de la imagen */
}

.hero-image {
    display: block;
    width: 100%; /* Cambia el tamaño de la imagen */
    height: auto;

}


.hero-overlay {
    position: absolute;
    top: 40%;
    transform: translate(115%, -50%);
    text-shadow: 0 3px 15px rgba(0, 0, 0, 1.9); /* Añade sombra al texto */
    z-index: 2;
    
}

.hero-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* Añade un degradado */
    z-index: 1; /* Asegura que el degradado esté detrás de todo el contenido del hero-container */
}

/* texto del título */
.hero-title {
    font-size: 2.5em;
    font-weight: bold;
}

/* Cambia los valores de top y left para ajustar la posición del texto */
.hero-title,
.hero-subtitle,
.hero-description {
    margin: 0;
}

/*texto del subtítulo */
.hero-subtitle {
    font-size: 1.2em;
    margin-top: 10px;
}

/* texto de la descripción */
.hero-description {
    font-size: 1em;
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}


.info-section {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #f5f5f5;
}

.info-box {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

/* Cambia los valores de top y left para ajustar la posición de los cuadros */
.info-box h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.info-box p {
    font-size: 1em;
    margin-bottom: 15px;
}

.info-box .btn {
    background-color: #2ecc71;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.info-box .btn:hover {
    background-color: #27ae60;
}