
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family:'Poppins', sans-serif;
}

#page-wrapper {
  position: relative;
}

#nav-bar {
    height: 10vh;
    background: #344955;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.nav-Links {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    flex-grow: 1;
}

.headerImage {
    flex-grow: 2;
    padding: 1% 2% 1% 5%;
}

#header-img {
  max-width: 80px;
  border-radius: 5px;
  border: #4AE4C2 solid 2px;
}

.nav-link {
    padding: 8px;
    margin: 8px;
    margin-right: 35px;
}

.nav-Links li a:hover {
    color: #ffffff;
}

/**
 * Estilos para los enlaces de navegación en la página de registro.
 */
.nav-Links li a {
    color: #4AE4C2; /* Cambia color texto de los enlaces */
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
}

#loginLink {
  color: #ffffff; /* Cambia color texto al pasar el mouse por encima de los enlaces */
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.grid {
  display: flex;
}

/* Path: registro-usuario.css */

.registration-form {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #1f888e; /* Cambia color marco registro */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* sombra marco registro */
    background-color: #ffffff; /* Cambia el color del fondo del formulario */
}

.registration-form h1 {
    position: relative;
    top: -10px; /* Cambia la posición del título */
    text-align: center;
    margin-bottom: 20px;
}

.registration-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.registration-form .form-row {
    flex: 1 1 48%; /* Cambia el ancho de los campos */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.registration-form label {
    margin-bottom: 5px; /* Cambia el margen entre los campos */
}

.registration-form input,
.registration-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.registration-form button {
    width: 100%;
    padding: 10px;
    background-color: #1f888e; /* cambia color de el boton crear cuenta */
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.registration-form button:hover {
    background-color: #344955; /* Cambia color barra crear cuenta */
}

.registration-form .form-row:nth-child(odd) {
    margin-right: 2%;
}

.registration-form .form-row:nth-child(even) {
    margin-left: 2%;
}

.registration-form .form-row:last-child {
    flex: 1 1 100%;
    margin: 0;
}

.register-wrapper, .login-button {
    margin-left: auto;
}

.register-wrapper a, .login-button {
    padding: 10px 20px;
    background-color: #4AE4C2;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.login-button {
    background-color: #007bff;
}
.register-wrapper {
    position: relative;
}

.register-options {
    display: none;
    position: absolute;
    top: 130%;
    left: 0;
    z-index: 1;
    background-color: #ffffff00;
    padding: 10px;
    border: 1px solid #cccccc00;
    border-top: none;
    width: 100%;
    box-sizing: border-box;
}

/**
 * Cuando el mouse se encuentra sobre el elemento con la clase "register-wrapper",
 * se muestra el elemento con la clase "register-options".
 */
.register-wrapper:hover .register-options {
    display: block;
}

.register-options a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
}
.register-options a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #ffffff; /* Cambia el color del texto botones registro */
}


/* footer */
.footer {
    background-color: #344955; /* Fondo del footer */
    padding: 20px;
    border-top: 1px solid #dcdcdc;
    font-family: Arial, sans-serif;
    color: #fff; /* Texto en blanco */
}

/* Layout for the content area */
.footer__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
}

/* Styling for the logo section */
.footer__logo {
    display: flex;
    align-items: center;
    margin-bottom: 150px; /* Ajuste de margen para separación vertical */
}

.footer__logo-img {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border: 2px solid #fff; /* Borde blanco para los logos */
}

.footer__title {
    font-size: 1.5em;
    font-weight: bold;
}

/* Styling for each column in the footer */
.footer__column {
    flex: 1;
    margin-bottom: 20px; /* Ajuste de margen para separación vertical */
    min-width: 150px; /* Asegurar un tamaño mínimo para columnas */
}

/* Personalización de la posición de las columnas */
.footer__column--mapa {
    /* Cambie estos valores para ajustar la posición */
    margin-top: 10px; /* Movimiento en el eje Y */
    margin-left: 155px; /* Movimiento en el eje X */
}

.footer__column--utilidades {
    /* Cambie estos valores para ajustar la posición */
    margin-top: 10px; /* Movimiento en el eje Y */
    margin-left: 30px; /* Movimiento en el eje X */
}

.footer__column--desarrollado {
    /* Cambie estos valores para ajustar la posición */
    margin-top: 10px; /* Movimiento en el eje Y */
    margin-left: 50px; /* Movimiento en el eje X */
}

.footer__heading {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer__list {
    list-style: none;
    padding: 0;
}

.footer__list li {
    margin-bottom: 5px;
}

/* Styling for the links */
.footer__link {
    text-decoration: none;
    color: #fff; /* Enlaces en blanco */
}

.footer__link:hover {
    text-decoration: underline;
}


.footer__bottom {
    display: flex; 
    justify-content: center; /* Centrar el contenido */
    align-items: center; 
    border-top: 1px solid #dcdcdc;
    padding-top: 10px;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
}

.footer__copyright {
    margin: 0;
    text-align: center; /* Centrar el texto */
}

.footer__social {
    display: flex; 
    justify-content: right; /* Centrar los iconos */
    margin-left: 10px; /* Ajuste de margen */
}

.footer__social-link {
    margin-left: 10px; /* Espacio entre los iconos */
}

.footer__social-link img {
    width: 35px; /* Tamaño de los iconos */
    height: auto; 
    border: 1px solid #fff;  /* Borde blanco para los iconos de redes sociales */
    transform: translateX(-10px) translateY(-10px);
}