* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.logo {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-size: 25px;
  font-weight: 800;
  margin-left: 10px; /* Ajusta el margen izquierdo según sea necesario */
  text-decoration: none; /* Elimina el subrayado si lo hubiera */
  list-style-type: none; /* Elimina los estilos de lista */
}



/* style de navBar*/ 

body {
    background-color: #eee;
    font-family:'Poppins', sans-serif;
}

#page-wrapper {
  position: relative;
}

#nav-bar {
    height: 10vh;
    background: #344955;
}

.nav-Links {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    flex-grow: 1;
}

.headerImage {
    flex-grow: 2;
    padding: 1% 2% 1% 5%;
}

#header-img {
  max-width: 80px;
  border-radius: 5px;
  border: #4AE4C2 solid 2px;
}

.nav-link {
    padding: 8px;
    margin: 8px;
    margin-right: 35px;
}

.nav-Links li a:hover {
    color: #2D9BF0;
}

.nav-Links li a {
    color: #4AE4C2;
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
}

#loginLink {
  color: #2D9BF0;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.grid {
  display: flex;
}

footer {
    margin-top: 30px;
    background-color: #344955;
    padding: 20px;
  }
  
  footer > ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  
  footer > ul > li {
    padding: 0 10px;
    
  }
  
  footer li a {
    color: #4AE4C2;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
  }
  
  footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    color: #4AE4C2;
    font-weight: bold;
  }
  /* style para las secciones de la información*/
  .container{
    width: 80%;
    margin: auto;
  }
  
  .section {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }

  .section .maps{
    flex-direction: row-reverse;
  }

  .section p{
    flex: 1;
    text-align: justify;
  }
  .section h1{
    text-align: center;
    margin-bottom: 10px;
  }
  .section img{
    max-width: 100%;
    height: auto;
  }